<form method="get" action="/cosplays/new">
    <button type="submit">Add Cosplay</button>
</form>

<h2>My Cosplays:</h2>

<ul>
    <% @cosplays.each do |cosplay|%>
        <li>
            <p>Character: <%= cosplay.character_name%></p>
            <p>Character: <%= cosplay.show%></p>
            <% cosplay.materials.each do |material|%>
                
            <% end %>
        </li>
    <% end %>
</ul>
