<% if Helpers.is_logged_in?(session) %>
<%= @error %>
  <form action='/cosplays' method="post">
    Character:
    <input type="text" name="cosplay[character_name]"><br>
    Show:
    <input type="text" name="cosplay[show]"><br>

    <input type="submit" name="Add material" id="submit">

  </form>
  </br>
  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
  <% end %>
