<% if Helpers.is_logged_in?(session) %>
<%= @error %>
  <form action='/materials' method="post">
    Name:
    <input type="text" name="material[name]"><br>
    Link:
    <input type="text" name="material[store_link]"><br>

    Create Your Cosplay:

    <input type="submit" name="submit" id="submit">

  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
  <% end %>
