
<h2>Cosplay Collection</h2>

<% @cosplays.each do |cosplay|%>
    <div>
    Character: <%= cosplay.character_name %>
    </br>
    from <%= cosplay.show %>
    </br>
    by <%= cosplay.user.username %>
    </div>
    <br>
<% end %>

