<!doctype html>
<html>
  <head>
    <title>My Cosplay Collection</title>
  </head>
  <body>

    <div class="container">
    <header>
      <h1>Welcome to My Cosplay Collection!</h1>
      <% if Helpers.is_logged_in?(session) %>
        <h3>User: <%= Helpers.current_user(session).username %></h3>
        <form method="get" action="/users/logout">
          <button type="submit">Log Out</button>
        </form>
      <% end %>
      </header>
      <%= yield %>
    </div>

  </body>
</html>
